body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.user-container {
    display: flex;
    height: 100vh;
}


/* Main Content Styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table thead {
    background-color: #f2f2f2;
}

.user-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
